.custom-nav-link {
  position: relative;
  overflow: hidden;
  /* Ensures the pseudo-element is contained within the nav-link's bounds */
}

.custom-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  /* Ensures the pseudo-element spans the full width */
  height: 2px;
  bottom: 0;
  left: 50%;
  /* Centers the pseudo-element */
  background-color: #fff;
  /* Change color as needed */
  transition: transform 0.25s ease-in-out;
  transform: translateX(-50%) scaleX(0);
  /* Initialize centered but with no width */
  transform-origin: center bottom;
  /* Ensures the scaling is from the center */
  z-index: 1;
  /* Ensure it's above the text */
}

.custom-nav-link:hover::after,
.custom-nav-link:focus::after {
  transform: translateX(-50%) scaleX(1);
  /* Expand the pseudo-element to full width on hover */
}

.btn-light {
  background-color: #5ba09c !important;
  border-color: #6cb1cc !important;
}

.btn-light:hover {
  background-color: #458da9 !important;
  border-color: #458da9 !important;
  color: white !important;
}

.pg-primary {
  background: linear-gradient(to bottom, #458da9 21%, #5fa09d 70%) !important;
}

.nav-bg {
  background-color: #56aca7 !important;
  padding-left: 2rem !important;
  padding-right: 1rem !important;
  transition: all 0.3s ease-in-out;
  /* Apply transition to all properties */
}

.navhome-bg {
  background-color: #458da9 !important;
  padding-left: 2rem !important;
  padding-right: 1rem !important;
  transition: all 0.3s ease-in-out;
  /* Apply transition to all properties */
}

.headroom--pinned .navhome-bg {
  background-color: #5ba09c !important;
  border-bottom-left-radius: 70px !important;
  border-bottom-right-radius: 70px !important;
  padding-left: 3rem !important;
  padding-right: 2rem !important;
}

.headroom--unpinned {
  top: -110px !important;
  /* Adjust this value to the height of your header */
}

.btn-primary {
  background-color: #67b3be !important;
  border-color: #489fac !important;
}

.btn-primary:hover {
  background-color: #56aca7 !important;
  border-color: #56aca7 !important;
}

.btn-more {
  background-color: #5ba09c !important;
}

.btn-more:hover {
  background-color: rgb(46, 88, 105) !important;
}

.pg-body {
  background-color: #fff !important;
}

.opportunity-card {
  max-width: 350px !important;
  height: 530px !important;
  border-radius: 20px;
  /* Rounded corners */
  overflow: hidden;
  /* Clip the contents to the border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

.opportunity-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Distributes space evenly */
  padding: 1rem;
  overflow: hidden;
  /* Prevents content from overflowing */
}

.card-img-top {
  height: 200px;
  /* Adjust this value to fit your design */
  object-fit: cover;
  /* Ensures the image covers the area without stretching */
}

.progress-custom {
  position: relative;
  width: 100%;
  height: 20px;
  /* Match your progress bar height */
}

.card-title {
  max-height: 3rem;
  /* Adjust the value as needed */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for truncated text */
}

.progress-custom .progress-bar {
  background-color: #56aca7 !important;
  /* Custom progress color */
  display: flex;
  align-items: center;
  /* Vertically center the content of the progress bar */
  justify-content: center;
  /* Horizontally center the content of the progress bar */
  height: 100%;
  /* Full height of the parent */
}

.progress-custom .progress-bar span {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: black !important;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  line-height: 15px;
  /* Match your progress bar height */
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
}

.card-title,
.card-text {
  /* Remove fixed height and use min-height instead */
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-bg {
  /* background: linear-gradient(to bottom, #5ba09c 21%, #458DA9 70%) !important; */
  background-color: #56aca7 !important;
}

/* Custom styles for the dropdown toggle to remove background */
.custom-dropdown-toggle {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:active {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.custom-dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-dropdown-toggle .bi-person-circle {
  color: white;
  font-size: 1.5em;
}

/* Ensure dropdown menu is correctly aligned */
.custom-nav-dropdown .dropdown-menu {
  left: 0 !important;
  background-color: white !important;

  right: 0 !important;
  transform: translateX(-100%) !important;
  background-color: #343a40; /* Adjust background color if needed */
  border: none;
}

.text-opportunity {
  color: #56aca7 !important;
  font-weight: 600 !important;
}

.text-opportunity-title {
  color: #56aca7 !important;
  font-weight: 800 !important;
}

.contact-form {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
  border-radius: 20px;
  border: 1px solid #cccccc;
}

.contact-form .btn-primary {
  background-color: #489fac;
  /* Replace with your button's color */
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

/* Optional: Overriding Bootstrap's primary color for the button's hover state */
.contact-form .btn-primary:hover {
  background-color: #317f8b;
  /* A slightly darker shade for hover effect */
}

.img-max-height {
  max-height: 400px;
  /* Adjust based on your design needs */
  object-fit: cover;
  /* Ensures the image covers the area, might clip some parts */
}

.calculator-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  color: #317f8b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
}

.calculator-icon:hover {
  background-color: #f0f0f0;
}
